.body-register,
.body-login {
    background-color: #f3ede7;
}

.auth__header {
    color: #816850e1;
    margin: 20px auto;
}

.auth__header-logo {
    text-align: center;
}

.auth-form {
    max-width: 700px;
    margin: 40px auto;
    background: #fff;
    border-radius: 3px;
    padding: 80px 100px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .05);
}

.auth-form__item {
    margin-bottom: 40px;
}

.auth-form__label {
    display: block;
    margin-bottom: 10px;
}

.auth-form__input {
    width: 100%;
    padding: 12px 16px;
    background: #f6f6f6;
    border: none;
}

.auth-form__button {
    text-align: center;
}

.auth-form__button-submit {
    padding: 10px 40px;
    border: none;
    background: #816850e1;
    color: #fff;
}

.auth-form__error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}