.header {
    border-bottom: 1px solid #ddd;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    color: #b9a392;
    text-decoration: none;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}

.body-thanks .header {
    display: none;
}