.contact__header {
    color: #816850e1;
    margin: 25px auto;
}

.contact__header-logo {
    text-align: center;
}

.confirm-form {
    width: 60%;
    margin: 0 auto;
}

.confirm-table {
    width: 100%;
    margin: 0 auto;
}

.confirm-table__inner {
    border: 1px solid #ddd;
    width: 100%;
}

.confirm-table__row {
    height: 60px;
    border: 1px solid #ddd;
}

.confirm-table__row:last-of-type {
    height: 100px;
    border: 1px solid #ddd;
}

.confirm-table__header {
    background: #816850e1;
    color: #fff;
    text-align: left;
    padding-left: 40px;
    width: 25%;
}

.confirm-table__item {
    color: #816850e1;
    padding-left: 40px;
    width: 75%
}

.confirm-form__button {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    gap: 20px;
}

.confirm-form__button-send {
    width: 100px;
}

.confirm-form__button-send-submit {
    width: 100%;
    padding: 5px;
    color: #fff;
    border: none;
    background: #978678;
    border-radius: 3px;
}

.confirm-form__button-back {
    width: 100px;
}

.confirm-form__button-back-submit {
    width: 100%;
    padding: 5px;
    color: #816850e1;
    border: none;
    background: #fff;
}